// .contacts {
//   &-line {
//     list-style: none;
//     margin-top: 10px;
//     padding-bottom: 10px;
//     border-bottom: 1px solid lightgray;
//     &-label {
//       font-weight: bold;
//     }
//   }
// }

.contacts {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.contact {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $contact-border-color: $base-border-color;
  $contact-border: 1px solid $contact-border-color;
  $contact-background: lighten($contact-border-color, 10%);
  $contact-header-background: $contact-background;
  $contact-margin: 1em;
  $contact-image-hover-opacity: 0.7;
  $contact-image-hover-color: #F8F2B4;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $contact-background;
  border-radius: $base-border-radius;
  border: $contact-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $contact-margin $base-spacing $contact-margin;
  position: relative;


  .contact-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    background-color: $contact-image-hover-color;

    img {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
      opacity: 1;
    }
  }

  .contact-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $contact-header-background;
    border-bottom: $contact-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .contact-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $contact-image-hover-opacity;
    }
  }

  &:active {
    background-color: $contact-background;

    .contact-header {
      background-color: $contact-background;
    }
  }
}
